body {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}

top {
  background-color: #1f2937;
}

middle {
}

quote {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  background-color: #e5e7eb;
}

sign up {
}

footer {
}
